<div class="header">
    <div class="header_container"  >
        <a href="" ><div class="gallery_card" ></div><div class="shadow">HOME</div></a>
        <a href="" *ngFor="let game of games"><div class="gallery_card" style=" background-image: url({{game.image}})"></div><div class="shadow">{{game.name}}</div></a>
    </div>
    <div class="info_panel">
        <div class="search">
            <input type="text" name="" placeholder="Поиск">
            <div class="search_btn btn">Найти</div>
        </div>
        <div class="auth_container">
            <div class="btn" routerLink="/auth/signin">Вход</div>
            <div class="btn" routerLink="/auth/signup">Регистрация</div>
        </div>
    </div>
</div>
