<div class="header">
    <div class="header_container">
        <a href=""><div class="gallery_card"></div><div class="shadow">Minecraft</div></a>
        <a href=""><div class="gallery_card"></div><div class="shadow">qwe</div></a>
        <a href=""><div class="gallery_card"></div><div class="shadow">qwe</div></a>
        <a href=""><div class="gallery_card"></div><div class="shadow">qwe</div></a>
        <a href=""><div class="gallery_card"></div><div class="shadow">qwe</div></a>
        <a href=""><div class="gallery_card"></div><div class="shadow">qwe</div></a>
    </div>
    <div class="info_panel">
        <div class="search">
            <input type="text" name="" id="">
            <div class="search_btn">Найти</div>
        </div>
    </div>
</div>
