.home {
    width: 1200px;
    margin: auto;
    background-color: black;;
    margin-top: 25px;
    .pane_content {
        padding: 20px;
        border-top: 1px solid #ffc107;
        h2 {
            font-family: sans-serif;
            color: white;
            font-weight: bold;
        }
        .list_item {
            display: flex;
            padding: 20px 0px 20px 0px;
            transition: .3s;
            border: 1px solid transparent;
            border-top: 1px solid #daad23;
            &:hover {
                border: 1px solid #ffc107;
                padding-left: 20px;
                cursor: pointer;
                transition: .3s;
            }
            .img {
                position: relative;
                box-shadow: 0 8px 17px rgba(0,0,0,.1); 
                background-position: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-image:  url(../../../assets/img/test.jpg);
                width: 231px;
                height: 117px;
                border: 1px solid #9a6c5c;
            }
            .article_list_item {
            }
        }
    }
}