<div class="home">
    <!-- <div *ngIf="news"> -->
        <app-owl-carusel ></app-owl-carusel>
    <!-- </div> -->
    <div class="pane_content">
        <h2>ПОСЛЕДНИЕ НОВОСТИ</h2>
        <div class="list_item" *ngFor="let item of defoultNews" routerLink="/main/news/{{item.slug}}">
            <div class="img" style="background-image:  url({{item.image}}); "></div>
            <div class="article_list_item">
                <div class="title">{{item.title}}</div>
                <div class="date">{{item.date}}</div>
                <div class="content" >{{item.short_info}}...</div>
            </div>
        </div>
    </div>
    <div class="paginator">
        <ngb-pagination [collectionSize]="collections"  (pageChange)="setPage($event)"  [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>


